---
import Layout from "../layouts/Layout.astro";
import HousesPage from "../features/HousesPage/HousesPage.vue";
import { getCategories, getModels, getNavbarCategories } from "../data/loaders";

const [models, categories, navbarCategories] = await Promise.all([getModels(), getCategories(), getNavbarCategories()]);
---

<Layout title="Häuser – BoHolz Haus" categories={navbarCategories}>
<h1>Unsere Häuser</h1>
   <HousesPage models={models} categories={categories} client:visible />
    
</Layout>

<style>

</style>