---
import type { HouseModel, HouseCategory } from "../types/models";
import Layout from "../layouts/Layout.astro";
import HousesPage from "../features/HousesPage/HousesPage.vue";
import { getCategories, getModels } from "../data/loaders";

const [models, categories] = await Promise.all([getModels(), getCategories()]);
---

<Layout title="Häuser – BoHolz Haus" categories={categories}>
<h1>Unsere Häuser</h1>
   <HousesPage models={models} categories={categories} client:visible />
    
</Layout>

<style>

</style>