---
import { db } from "../db/db";
import type { HouseModel, HouseCategory } from "../types/models";
import Layout from "../layouts/Layout.astro";
import HousesPage from "../features/HousesPage/HousesPage.vue";

let models: HouseModel[] = [];
let categories: HouseCategory[] = [];

try {
  const data = await db.query.houseModels.findMany({
    with: {
      category: true,
      media: {
        with: { media: true },
        orderBy: (modelMedia, { asc }) => [asc(modelMedia.sortOrder)],
      },
    },
  });

  const data2 = await db.query.houseCategories.findMany({
    with: {
      media: {
        with: { media: true },
        orderBy: (categoryMedia, { asc }) => [asc(categoryMedia.sortOrder)],
      },
    },
  });
  models = data as unknown as HouseModel[];
  categories = data2 as unknown as HouseCategory[];
} catch (error) {
  console.error("Error fetching house models:", error);
}


---

<Layout title="Häuser – BoHolz Haus">
<h1>Unsere Häuser</h1>
   <HousesPage models={models} categories={categories} client:visible />
    
</Layout>

<style>

</style>