---
import Layout from "@/layouts/Layout.astro";
import HousesPage from "@/features/houses-page/HousesPage.vue";
import { getCategories, getModels } from "@/db/loaders";

const [models, categories] = await Promise.all([getModels(), getCategories()]);
---

<Layout title="Häuser – BoHolz Haus" categories={categories}>
<h1>Unsere Häuser</h1>
   <HousesPage models={models} categories={categories} client:visible />
</Layout>

<style>

</style>