---
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";

import Hero from "@/features/Home/Hero.vue";
import CategoriesShowcase from "@/features/Home/CategoriesShowcase.vue";
import TrustBadges from "@/features/Home/TrustBadges.vue";
import OverviewGrid from "@/features/Home/OverviewGrid.vue";
import BuildingStages from "@/features/Home/BuildingStages.vue";

import { homeSections } from "@/features/Home/home.content";
import { buildingStages } from "@/features/Home/building-stages.content";

import { getCategories } from "@/data/loaders";
import { getHeroSlides } from "../data/loaders";

const categories = await getCategories();
const heroSlides = await getHeroSlides(6);
---

<Layout title="Boholz Haus" categories={categories}>

  <Hero client:load slides={heroSlides} />
  <Section {...homeSections.categories}>
    <CategoriesShowcase categories={categories} />
  </Section>

  <Section {...homeSections.trust}>
    <TrustBadges client:visible />
  </Section>

  <Section {...homeSections.overview}>
    <OverviewGrid />
  </Section>

  <Section {...homeSections.finishes}>
    <BuildingStages client:visible stages={buildingStages} />
  </Section>

</Layout>
