---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Boholz Haus">
  <div class="page">
    <div class="hero">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="hero-heading"><h1>Einfach einkommen.</h1></div>
          <div class="hero-end-group">
            <div class="hero-proof"></div>
            <div class="hero-action"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>

  h1 {
    font-size: 4rem;
  }

  @media (--mobile) {
    h1 {
      font-size: 2rem;
    }
  }
</style>
