---
import Layout from "@/layouts/Layout.astro";
import Section from "@/layouts/Section.astro";

import Hero from "@/features/HomePage/Hero.vue";
import CategoriesShowcase from "@/features/HomePage/CategoriesShowcase.vue";
import TrustBadges from "@/features/HomePage/TrustBadges.vue";
import OverviewGrid from "@/features/HomePage/OverviewGrid.vue";

import { getCategories } from "@/data/loaders";
import { getHeroModels } from "../data/loaders";

const categories = await getCategories();
const heroModels = await getHeroModels(6);
---

<Layout title="Boholz Haus" categories={categories}>

  <Hero client:load models={heroModels}/>
 
  <Section
    heading="Fertighäuser in Zimmermannsqualität für Menschen mit"
    highlightWord="Anspruch."
    subheading="Unsere barrierefreien Fertighäuser aus Holz vereinen höchste Energieeffizienz mit meisterhaftem Handwerk. So sparen Sie Energiekosten und gewinnen wertvolle Lebensqualität für die ganze Familie."
  >
    <CategoriesShowcase categories={categories} />
  </Section>

  <Section
    heading="Ihr Vertrauen"
    highlightWord="fest verankert."
    subheading="Wir bauen nicht nur Häuser, wir bauen Sicherheit. Mit zertifizierter Qualität aus Deutschland und Garantien, auf die Sie sich verlassen können."
  >
    <TrustBadges />
  </Section>

  <Section
    heading="Besser gebaut. Schneller geliefert."
    highlightWord="Sorgenfrei gelebt."
    subheading="BoHolz vereint meisterhafte Präzision mit höchster Energieeffizienz. Für Sie bedeutet das: schneller Einzug, erstklassige Lebensqualität und dauerhaft niedrige Energiekosten."
  >
    <OverviewGrid />
  </Section>
</Layout>
