:root {
/* --- Colors--- */

/* Base */

  --boholz-blau: rgba(145, 172, 190, 1.00);
  --boholz-grun: rgba(162, 164, 131, 1.00);
  --boholz-blau-alt: rgba(10, 120, 194, 1.00);
  --boholz-blau-alt-deep: rgba(15, 89, 138, 1.00);
  --pastell-bg: rgba(234, 236, 227, 1.00);
  --pastell-petrol: rgba(167, 185, 184, 1.00);
  --pastell-grün: rgba(181, 177, 151, 1.00);
  --pastell-oliv: rgba(139, 147, 133, 1.00);
  --pastell-oliv-alt: rgba(63, 93, 40, 1.00);
  --light-stone: rgba(179, 170, 163, 1.00);
  --stone: rgba(149, 137, 126, 1.00);
    --stone-alt: rgba(127, 70, 26, 1.00);
  --terracotta: rgba(147, 38, 26, 1.00);
  --dark-stone: rgba(28, 25, 23, 1.00);
  --neutral-gray-100: rgba(26, 26, 26, 1.00);
  --neutral-gray-200: rgba(64, 64, 64, 1.00);
  --neutral-gray-300: rgba(84, 84, 84, 1.00);
  --neutral-gray-400: rgba(112, 112, 112, 1.00);
  --neutral-gray-500: rgba(176, 176, 176, 1.00);
  --neutral-gray-600: rgba(207, 207, 207, 1.00);
  --neutral-gray-700: rgba(237, 237, 237, 1.00);
  --neutral-gray-800: rgba(245, 245, 245, 1.00);
  --neutral-gray-900: rgba(252, 252, 252, 1.00);
  --warm-gray-100: rgba(26, 23, 20, 1.00);
  --warm-gray-200: rgba(42, 40, 38, 1.00);
  --warm-gray-300: rgba(89, 88, 87, 1.00);
  --warm-gray-400: rgba(122, 121, 120, 1.00);
  --warm-gray-500: rgba(153, 151, 150, 1.00);
  --warm-gray-600: rgba(191, 189, 187, 1.00);
  --warm-gray-700: rgba(224, 222, 220, 1.00);
  --warm-gray-800: rgba(245, 243, 240, 1.00);
  --warm-gray-900: rgba(252, 251, 250, 1.00);
  --cold-gray-100: rgba(21, 25, 28, 1.00);
  --cold-gray-200: rgba(54, 60, 64, 1.00);
  --cold-gray-300: rgba(76, 84, 89, 1.00);
  --cold-gray-400: rgba(126, 135, 140, 1.00);
  --cold-gray-500: rgba(158, 164, 168, 1.00);
  --cold-gray-600: rgba(186, 189, 191, 1.00);
  --cold-gray-700: rgba(219, 222, 224, 1.00);
  --cold-gray-800: rgba(242, 244, 245, 1.00);
  --cold-gray-900: rgba(249, 251, 252, 1.00);

  /* Semantics */

  /* Surface */
  --color-surface-primary: var(--neutral-gray-900);
  --color-surface-secondary: var(--neutral-gray-800);
  --color-surface-tertiary: var(--cold-gray-900);
  --color-surface-quaternary: var(--pastell-bg);

  /* Content */
  --color-content-primary: var(--neutral-gray-100);
  --color-content-secondary: var(--cold-gray-300);
  --color-content-tertiary: var(--cold-gray-400);
  --color-content-quaternary: var(--cold-gray-500);

  /* Border */
  --color-border-primary: var(--cold-gray-800);
  --color-border-secondary: var(--cold-gray-700);
  --color-border-tertiary: var(--cold-gray-600);
  --color-border-quaternary: var(--cold-gray-400);

  /* Accent */
  --color-accent-primary: var(--boholz-blau-alt);
  --color-accent-secondary: var(--boholz-blau-alt-deep);

  /* Status */
  --color-status-info: var(--boholz-blau-alt-deep);
  --color-status-success: var(--pastell-oliv-alt);
  --color-status-warning: var(--stone-alt);
  --color-status-error: var(--terracotta);


  /* Base Spacing (Desktop First) */
  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 20px;
  --spacing-4: 32px;
  --spacing-5: 52px;
  --spacing-6: 84px;
  --spacing-7: 136px;
  --spacing-8: 220px;

/* Mobile Spacing (Screens smaller than 768px) */
@media (max-width: 768px) {

    --spacing-5: 32px;  /* was 52px */
    --spacing-6: 52px;  /* was 84px */
    --spacing-7: 84px;  /* was 136px */
    --spacing-8: 136px; /* was 220px */
  
}
}
