/* --- DIN --- */

@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/din-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Light_Italic_Expert.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/din-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/din-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Medium_Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Bold_Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DIN";
  src: url("/fonts/DIN/FF_DIN_Black_Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

/* --- Josefin Sans --- */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
