---
import "@/ui/style/reset.css";
import "@/ui/style/design-system.css";
import "@/ui/style/wrapper.css";

import certificationsSprite from "@/features/certifications/certifications.svg?raw";

import Navbar from "@/features/navigation/navbar/Navbar.vue";
import Footer from "@/features/navigation/footer/Footer.astro";
import CookieConsent from "@/features/cookie-consent/CookieConsent.vue";

import { getCategories, getLocations } from "@/db/loaders";
import type { HouseCategory } from "@/db/models";

interface Props {
  title: string;
  categories?: HouseCategory[];
  isHero?: boolean;
}

const { title, categories: categoriesProp, isHero = false } = Astro.props;
const categories = categoriesProp ?? (await getCategories());
const showhouses = await getLocations({ kind: "showhouse" });
---

<html lang="de" data-hero={isHero ? "true" : "false"}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Fragment set:html={certificationsSprite} />
    <Navbar
      client:load
      categories={categories}
      showhouses={showhouses}
    />
    <main class="wrapper">
      <CookieConsent client:visible/>
      <slot />
      <Footer />
    </main>
  </body>
</html>
