---
import "../style/reset.css";
import "../style/design-system.css"
import "../style/wrapper.css"

import Navbar from "./Navbar/Navbar.vue";
import Footer from "./Footer/Footer.astro";

import { getCategories, getShowhouses } from "../data/loaders";
import type { HouseCategory } from "../types/models";
import { showhouses } from "../db/schema";

interface Props {
  title: string;
  categories?: HouseCategory[];
}

const { title, categories: categoriesProp } = Astro.props;
const categories = categoriesProp ?? await getCategories();
const showhouses = getShowhouses();
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar client:load categories={categories} currentPath={Astro.url.pathname}/>
    <main class="wrapper">
      <slot />
      <Footer />
    </main>
  </body>
</html>


<style>
  main {
    padding-top: var(--navbar-height);
  }
</style>